<h3>Food Items</h3>

<table class="table table-striped" ng-controller="BasicFoodListCtrl">
    <thead>
        <tr>
            <th></th>
            <th ng-repeat="n in nutrients | filter:isBasic">
                {{n.name || n.id}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="f in food" ng-controller="FoodItemCtrl">
            <td>{{f.name}} <span ng-repeat="tag in f.tags"><span class="badge badge-info">{{tag}}</span>&nbsp;</span></td>
            <td ng-repeat="n in nutrients | filter:isBasic">
                {{getAmount(n) | number:getPrecision(n)}}{{n.unit}}
            </td>
        </tr>
    </tbody>
</table>