<h3>Food Items</h3>

<table class="table" ng-controller="BasicFoodListCtrl">
    <thead>
        <tr>
            <th>id</th>
            <th ng-repeat="n in nutrients | filter:isBasic">
                {{n.id}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="f in food" ng-controller="FoodItemCtrl">
            <td>{{f.name}}</td>
            <td ng-repeat="n in nutrients | filter:isBasic">
                {{getAmount(n)}} {{n.unit}}
            </td>
        </tr>
    </tbody>
</table>