<h3>Food Items</h3>

<table class="table table-striped" ng-controller="BasicFoodListCtrl">
    <thead>
        <tr>
            <th></th>
            <th ng-repeat="n in nutrients() | isBasicNutrient">
                {{n.name || n.id}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="f in food()" ng-controller="FoodItemCtrl">
            <td><span title="{{f.id}}">{{f.name}}</span> <nu-food-tags nu-tags="f.tags"></nu-food-tags></td>
            <td ng-repeat="n in nutrients() | isBasicNutrient">
                {{getAmount(n) | number:getPrecision(n)}}{{n.unit}}
            </td>
        </tr>
    </tbody>
</table>