<div ng-controller="MealListCtrl">
    <h3>Meals</h3>
    <div class="meal-holder">
        <div class="meal-row" ng-repeat="meal in meals" ng-controller="MealIngredientListCtrl">
            <div class="row-fluid row-clickable" ng-show="mode == 'list'" ng-click="toggle()">
                <div class="span2">
                        <span>{{meal.name || 'new meal'}}</span>
                </div>
                <div class="span6">
                        <span ng-repeat="i in meal.ingredients">{{getFoodName(i.food)}} [{{i.amount}}{{getFoodAmountUnit(i.food)}}]<span ng-show="!$last">, </span></span>
                        <span ng-show="meal.ingredients.length == 0">no ingredients</span>
                </div>
                <div class="span4" ng-controller="IngredientsSummaryCtrl">
                        <span ng-repeat="n in summaryNutrientIds">
                            {{getSymbol(n)}}: {{getAmount(n) | number:getPrecision(n)}}{{getAmountUnit(n)}}<span ng-show="!$last">, </span>
                        </span>
                </div>
            </div>
            <div class="row-fluid" ng-show="mode == 'edit'">
                <div class="span2">
                    <input class="span12" type="text" ng-model="meal.name" placeholder="Name">
                </div>
                <div class="span6">
                    <table>
                        <tbody>
                            <tr ng-repeat="ing in ingredients">
                                <td>{{ing.food.id}}</td>
                                <td>
                                    <div class="input-append">
                                        <input type="number" ng-model="ing.amount">
                                        <span class="add-on">{{getFoodAmountUnit(ing.food.id)}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-small" ng-click="toggle()"><i class="icon-ok"></i> done</button>
                </div>
                <div class="span4" ng-controller="IngredientsSummaryCtrl"><!-- TODO: abstract this copy and pasted section -->
                    <span ng-repeat="n in summaryNutrientIds">
                        {{getSymbol(n)}}: {{getAmount(n) | number:getPrecision(n)}}{{getAmountUnit(n)}}<span ng-show="!$last">, </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="meal-row">
            <div class="row-fluid">
                <div class="span12 pull-middle">
                    <button class="btn btn-small" ng-click="addMeal()"><i class="icon-plus"></i> Add a new meal</button>
                </div>
            </div>
        </div>
    </div>

    <h4>Total Nutrition</h4>

    <div ng-controller="MealListNutritionCtrl">
        <div class="row-fluid" ng-repeat="idTuple in totalNutrientIdsGrouped">
            <span class="span3" ng-repeat="n in idTuple">
                {{getName(n)}}: {{getTotal(n) | number:getPrecision(n)}}{{getAmountUnit(n)}}
            </span>
        </div>
    </div>

</div>