<div ng-controller="MealListCtrl">
    <h3>Meals</h3>
    <div class="meal-holder">
        <div class="meal-row" ng-repeat="meal in meals()" ng-controller="MealIngredientListCtrl">
            <ng-switch on="mode">
                <div class="row-fluid row-clickable" ng-switch-when="list" ng-click="gotoDetailFromList()">
                    <div class="span2">
                        <span>{{meal.name || 'new meal'}}</span>
                    </div>
                    <div class="span6">
                        <span ng-repeat="i in meal.ingredients">{{getFoodName(i.food)}}<span ng-show="!$last">, </span></span>
                        <span ng-show="meal.ingredients.length == 0">no ingredients</span>
                    </div>
                    <div class="span4" ng-controller="IngredientsSummaryCtrl">
                        <span class="span3" ng-repeat="n in summaryNutrientIds">
                            {{getSymbol(n)}}: {{getAmount(n) | number:getPrecision(n)}}{{getAmountUnit(n)}}
                        </span>
                    </div>
                </div>
                <div ng-switch-when="detail">
                    <div class="row-fluid row-clickable" ng-click="gotoList()">
                        <div class="span12 pull-middle">
                            <h4 style="display: inline-block;">{{meal.name || 'new meal'}}</h4>
                            <!-- TODO: show these buttons betterer, consider floating to right and making smaller -->
                            <button class="btn btn-link" ng-click="gotoEdit()">Edit</button>
                            <button class="btn btn-link" ng-click="removeMeal(meal)">Remove</button>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <table class="table table-striped">
                                <thead>
                                    <th>Ingredient</th>
                                    <th>Amount</th>
                                </thead>
                                <tr ng-repeat="i in meal.ingredients">
                                    <td>{{getFoodName(i.food)}}</td>
                                    <td>{{i.amount}}{{getFoodAmountUnit(i.food)}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="span6">
                            <h4>Tags</h4>
                            <div>
                                <span ng-repeat="tag in getTags() | unique" ng-controller="TagCtrl">
                                    <span class="badge" ng-class="(isMultiple && 'badge-important') || 'badge-info'">
                                        {{label}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="edit">
                    <div class="row-fluid">
                        <div class="span12 pull-middle">
                            <button class="btn btn-small btn-success" ng-click="gotoDetailFromEdit()"><i class="icon-ok icon-white"></i> done</button>
                            <button class="btn btn-small btn-danger" ng-click="removeMeal(meal)"><i class="icon-trash icon-white"></i> delete</button>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">
                            <input class="span12" type="text" ng-model="meal.name" placeholder="Name">
                        </div>
                        <div class="span6">
                            <table>
                                <tbody>
                                    <tr ng-repeat="ing in ingredients">
                                        <td>{{ing.food.id}}</td>
                                        <td>
                                            <div class="input-append">
                                                <input type="number" ng-model="ing.amount">
                                                <span class="add-on">{{getFoodAmountUnit(ing.food.id)}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span4" ng-controller="IngredientsSummaryCtrl"><!-- TODO: abstract this copy and pasted section -->
                            <span class="span3" ng-repeat="n in summaryNutrientIds">
                                {{getSymbol(n)}}: {{getAmount(n) | number:getPrecision(n)}}{{getAmountUnit(n)}}
                            </span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 pull-middle">
                            <button class="btn btn-small btn-success" ng-click="gotoDetailFromEdit()"><i class="icon-ok icon-white"></i> done</button>
                        </div>
                    </div>
                </div>
            </ng-switch>
        </div>
        <div class="meal-row">
            <div class="row-fluid" >
                <div class="span12 pull-middle">
                    <button class="btn btn-small" ng-click="addMeal()"><i class="icon-plus"></i> Add a new meal</button>
                    <button class="btn btn-small btn-danger" ng-click="removeAllMeals()"><i class="icon-remove icon-white"></i> Remove all meals</button>
                </div>
            </div>
        </div>
    </div>

    <h4>Total Nutrition</h4>

    <div ng-controller="MealListNutritionCtrl">
        <div class="row-fluid" ng-repeat="idTuple in totalNutrientIdsGrouped">
            <span class="span3" ng-repeat="n in idTuple">
                {{getName(n)}}: {{getTotal(n) | number:getPrecision(n)}}{{getAmountUnit(n)}}
            </span>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <nu-meal-tags></nu-meal-tags>
            </div>
        </div>
    </div>



</div>