<div ng-controller="MealListCtrl">
    <h3>Meals</h3>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Ingredients...</th>
                <th>Nutrition</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="meal in meals" ng-controller="MealIngredientList">
                <td><input type="text" placeholder="Name the new meal..." ng-model="meal.name"></td>
                <td>
                    <div ng-switch on="mode">
                        <div ng-switch-when="list">
                            <button class="btn btn-link" ng-click="toggle()">
                                <!-- i.food is now an ID and i.amount is the same -->
                                <span ng-repeat="i in meal.ingredients">{{getFoodName(i.food)}} [{{i.amount}}{{getFoodAmountUnit(i.food)}}]<span ng-show="!$last">, </span></span>
                                <span ng-show="meal.ingredients.length == 0"><i class="icon-plus"></i> Add ingredients</span>
                            </button>
                        </div>
                        <div ng-switch-when="edit">
                            <table>
                                <tbody>
                                    <tr ng-repeat="ing in ingredients">
                                        <td>{{ing.food.id}}</td>
                                        <td>
                                            <div class="input-append">
                                                <input type="number" ng-model="ing.amount">
                                                <span class="add-on">{{getFoodAmountUnit(ing.food.id)}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <button class="btn btn-small" ng-click="toggle()"><i class="icon-ok"></i> done</button>
                        </div>
                    </div>
                </td>
                <td ng-controller="IngredientsSummaryCtrl">
                    <span ng-repeat="n in summaryNutrientIds">
                        {{getSymbol(n)}}: {{getAmount(n) | number:getPrecision(n)}}{{getAmountUnit(n)}}<span ng-show="!$last">, </span>
                    </span>
                </td>
            </tr>
            <tr colspan=2>
                <td>
                    <button class="btn btn-small btn-primary" ng-click="addMeal()"><i class="icon-plus icon-white"></i> meal</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h4>Total Nutrition</h4>

    <div ng-controller="MealListNutritionCtrl">
        <div class="row-fluid" ng-repeat="idTuple in totalNutrientIdsGrouped">
            <span class="span3" ng-repeat="n in idTuple">
                {{n}}: {{getTotal(n) | number:getPrecision(n)}}{{getAmountUnit(n)}}
            </span>
        </div>
    </div>

</div>